### Работа с непосредственными данными в датасете

In [3]:
import pandas as pd

### Задание 1. Импорт данных

Импортируй файл *«Витрина на очистку.xlsx»* и в качестве индекса установи поле *id_client_loc*.

In [4]:
df = pd.read_excel('vitrina-na-ochistku.xlsx')
df.set_index('id_client_loc', inplace=True)
df.head(3)

                                      name               email           phone
id_client_loc
30901111         Фёдоров!Виктор Алексеевич    fed_va@gmail.com    _79850070821
30901270         алексеев Алексей Иванович  alex_123@yandex.ru   7(985)0408656
30901508                         Xhi Zhang  xhixhi@rambler.com  ___89858951849

### Задание 2. Работа с email

Создай колонку, в которой будет храниться никнейм имейл-адреса, то есть всё, что левее символа @.

**Подсказка: воспользуйся методом *split*.**

In [5]:
df['nickname'] = value=df['email'].str.split('@').str.get(0)
df.head(3)

,name,email,phone,nickname
id_client_loc,,,,
30901111,Фёдоров!Виктор Алексеевич,fed_va@gmail.com,_79850070821,fed_va
30901270,алексеев Алексей Иванович,alex_123@yandex.ru,7(985)0408656,alex_123
30901508,Xhi Zhang,xhixhi@rambler.com,___89858951849,xhixhi

### Задание 3. Пользователи gmail

Создай колонку, в которой будет проставляться True, если домен пользователя — gmail, и False — в противном случае.

**Подсказка: воспользуйся методом *contains(pattern)*.**

In [6]:
df['gmail domain'] = value=df['email'].str.contains('@gmail')
df.head(5)

,name,email,phone,nickname,gmail domain
id_client_loc,,,,,
30901111,Фёдоров!Виктор Алексеевич,fed_va@gmail.com,_79850070821,fed_va,True
30901270,алексеев Алексей Иванович,alex_123@yandex.ru,7(985)0408656,alex_123,False
30901508,Xhi Zhang,xhixhi@rambler.com,___89858951849,xhixhi,False
30901650,Озерина Валерия Викторовна,oz_valvikt@gmail.com,8-986-64-45-00,oz_valvikt,True
30902413,Алякян Серж,serg_s12@gmail.com,89878541733,serg_s12,True

### Задача 4. Работа с ФИО

Создай три дополнительные колонки в датафрейме, которые будут содержать фамилию, имя и отчество.

Если что-то начинается не с заглавной буквы, переведи первую букву в верхний регистр.

**Подсказка:**

 1. Изучи метод **strip** и воспользуйся им для удаления лишних пробелов в начале и конце строк. [Ссылка на описание](https://ru.hexlet.io/qna/python/questions/chto-delaet-funktsiya-strip-v-python).
 2. Убедись, что никакие символы, кроме пробелов, не используются для разделения фамилии, имени и отчества. Если используются, то замени их на пробелы.
 3. Воспользуйся методом **split** для разбиения по разделителю и запиши получившиеся части соответственно в три колонки.
 4. Поменяй регистр первых букв. Для этого можно воспользоваться методом **upper**.

In [ ]:
df['name'] = df['name'].str.strip()
df['name'] = df['name'].str.replace(r'[\s!_]+', ' ', regex=True)
df[['last name', 'first name', 'patronymic']] = df['name'].str.split(' ', n=2, expand=True).fillna('')
df[['last name', 'first name', 'patronymic']] = df[['last name', 'first name', 'patronymic']].apply(lambda x: x.str.capitalize())
df.head(7)

,name,email,phone,nickname,gmail domain,last name,first name,patronymic
id_client_loc,,,,,,,,
30901111,Фёдоров Виктор Алексеевич,fed_va@gmail.com,_79850070821,fed_va,True,Фёдоров,Виктор,Алексеевич
30901270,алексеев Алексей Иванович,alex_123@yandex.ru,7(985)0408656,alex_123,False,Алексеев,Алексей,Иванович
30901508,Xhi Zhang,xhixhi@rambler.com,___89858951849,xhixhi,False,Xhi,Zhang,
30901650,Озерина Валерия Викторовна,oz_valvikt@gmail.com,8-986-64-45-00,oz_valvikt,True,Озерина,Валерия,Викторовна
30902413,Алякян Серж,serg_s12@gmail.com,89878541733,serg_s12,True,Алякян,Серж,
30903005,Йеннисов Азамат Салим Оглы,yyy123@yandex.ru,+79881227043,yyy123,False,Йеннисов,Азамат,Салим оглы
30903479,Пушкин Алексия Владимировна,pushkin_al@gmail.com,79872740921,pushkin_al,True,Пушкин,Алексия,Владимировна

# Соединения и группировки.

Ты работаешь аналитиком в компании Shop el Muchos (в магазине одежды с офлайн-точками продажи).

У тебя есть две таблицы: *таблица заказов* и *таблица клиентов*.

**Описание таблицы заказов**
- *id_purchase* — уникальный идентификатор покупки.
- *id_client* — уникальный идентификатор клиента.
- *sum_pay* — сумма оплаты.
- *id_trading_point* — уникальный идентификатор торговой точки (офлайн-магазина).
- *date_pay* — дата + время покупки.

**Описание таблицы клиентов**
- *id_client* — уникальный идентификатор клиента.
- *gender* — пол клиента.
- *age* — возраст клиента (на сегодняшний день).

### Импорт данных

In [91]:
# your code here

df_orders = pd.read_excel('magazin_chick.xlsx', sheet_name='orders')
df_clients = pd.read_excel('magazin_chick.xlsx', sheet_name='clients')

In [92]:
df_orders.head(3)

   id_purchase  id_client  sum_pay  id_trading_point                date_pay
0   23480073.0     2556.0  10853.0               5.0 2025-01-18 10:45:41.333
1   23466782.0     2389.0  10830.0              25.0 2025-01-17 04:23:06.289
2   23463957.0     2537.0   5822.0              10.0 2025-01-16 08:46:35.774

In [93]:
df_clients.head(3)

   id_client gender   age
0     2331.0      F  65.0
1     1970.0      F  25.0
2     2958.0      F  46.0

In [94]:
print(df_orders['date_pay'].min())
print(df_orders['date_pay'].max())

2025-01-01 00:00:00
2025-01-26 23:53:47.972000

### Задание 1

Правда ли, что:

 - Поле *id_purchase* является *primary key* в таблице **orders**? (Проверь уникальность значений, а также наличие нуллов в колонке *id_purchase* в таблице **orders**).
 - Поле *id_client* является *primary key* в таблице **clients**?  (Проверь уникальность значений, а также наличие нуллов в колонке *id_client* в таблице **clients** ).
 - В таблице **orders** в полях *id_client*, *sum_pay*, *id_trading_point*, *date_pay* нет пропусков (нуллов)?
 - В таблице **clients** в полях *gender* и *age* нет пропусков (нуллов)?

Результаты выведи с помощью интерпретируемых (легко читаемых) принтов.

In [95]:
def is_primary_key(column):
    if column.notnull().any() and column.nunique() == len(column):
        print(f"Поле {column.name} является primary key")
    else:
        print(f"Поле {column.name} не является primary key")

def where_are_nulls(columns):
    for col in columns:
        if col.isnull().any():
            print(f"Поле {col.name} содержит пропуски")
        else:
            print(f"Поле {col.name} не содержит пропусков")
print("1) Проверка на primary key")
is_primary_key(df_orders['id_purchase'])
is_primary_key(df_orders['id_client'])
print("2) Проверка на пропуски")
where_are_nulls([df_orders['id_client'], df_orders['sum_pay'], df_orders['id_trading_point'], df_orders['date_pay']])
where_are_nulls([df_clients['gender'], df_clients['age']])

1) Проверка на primary key
Поле id_purchase не является primary key
Поле id_client не является primary key
2) Проверка на пропуски
Поле id_client содержит пропуски
Поле sum_pay содержит пропуски
Поле id_trading_point содержит пропуски
Поле date_pay содержит пропуски
Поле gender содержит пропуски
Поле age содержит пропуски

### Задание 2

Построй в табличной форме динамику трёх показателей по дням:

 - количества заказов,
 - суммарной выручки,
 - среднего чека.

Выведи три дня, в которые суммарные оплаты были больше всего.

**Рекомендация**

*Создай отдельный столбец, в котором время заказа приведено к формату даты.*

In [96]:
df_orders['date'] = df_orders['date_pay'].dt.date
orders_agg = df_orders.groupby('date').agg(
    count = ('sum_pay', 'count'),
    total_sum = ('sum_pay', 'sum'),
    average_sum = ('sum_pay', 'mean')
)
top_days = orders_agg.sort_values(by='total_sum', ascending=False)
top_days.head(3)

            count  total_sum  average_sum
date
2025-01-07    143   864937.0  6048.510490
2025-01-18    143   852477.0  5961.377622
2025-01-17    140   830132.0  5929.514286

### Задание 3

Изучи соответствие между таблицами *clients* и *orders*:
 - Есть ли клиенты, которые присутствуют в *clients*, но отсутствуют в *orders*? Если да, запиши их в список.
 - Есть ли клиенты, которые присутствуют в *orders*, но отсутствуют в *clients*? Если да, запиши их в ещё один список.
 - Выведи с помощью команды *print* длины этих двух списков.

В случае наличия таких различий при дальнейшем соединении таблиц будем брать *INNER JOIN* с целью избавиться от клиентов с несоответствием.

In [97]:
clients_not_orders = df_clients.merge(df_orders, on='id_client', how='left', indicator=True)
list1 = clients_not_orders[clients_not_orders['_merge'] == 'left_only'].get('id_client').tolist()

orders_not_clients = df_orders.merge(df_clients, on='id_client', how='left', indicator=True)
list2 = orders_not_clients[orders_not_clients['_merge'] == 'left_only'].get('id_client').tolist()

print("Количество клиентов из clients, которых нет в orders:")
print(len(list1))
print("Количество клиентов из orders, которых нет в clients:")
print(len(list2))

Количество клиентов из clients, которых нет в orders:
51
Количество клиентов из orders, которых нет в clients:
13

### Задание 4

Правда ли, что средний чек по женщинам в возрасте от 20 до 30 лет выше среднего чека по мужчинам в этой же возрастной категории?

В ответе выведи, на сколько рублей (0 знаков после запятой) и на сколько процентов (1 знак после запятой) женский чек выше мужского.

In [98]:
merged_df = df_clients.merge(df_orders, on='id_client', how='inner', indicator=True)
merged_df = merged_df[(merged_df['age'] < 30) & (merged_df['age'] >= 20)]
women_avg = merged_df[merged_df['gender'] == 'F']['sum_pay'].mean()
men_avg = merged_df[merged_df['gender'] == 'M']['sum_pay'].mean()
print('Разница в платежах (женщины - мужчины):', round(women_avg - men_avg))
print('Разница в платежах (в процентах):', round((women_avg / men_avg - 1) * 100, 1), "%")

Разница в платежах (женщины - мужчины): 240
Разница в платежах (в процентах): 4.2 %

### Задание 5

Правда ли, что чем больше возраст, тем больше чек?

Для ответа на вопрос необходимо разбить показатель возраста на интервалы и оценить средний чек в рамках каждого интервала. Попробуй также уловить данную зависимость в рамках каждого пола.

In [99]:
merged_df = df_clients.merge(df_orders, on='id_client', how='inner', indicator=True)
new_df = pd.DataFrame(columns=['age_group', 'women_avg', 'men_avg', 'all_genders_avg'])
for i in range(int(merged_df['age'].min()), int(merged_df['age'].max()) - 4, 5):
    age_group = merged_df[(merged_df['age'] >= i) & (merged_df['age'] < i + 5)]
    women_avg = age_group[age_group['gender'] == 'F']['sum_pay'].mean()
    men_avg = age_group[age_group['gender'] == 'M']['sum_pay'].mean()
    all_genders_avg = age_group['sum_pay'].mean()
    new_df.loc[len(new_df)] = {'age_group': f"{i}-{i+5}", 'women_avg': women_avg, 'men_avg': men_avg, 'all_genders_avg': all_genders_avg}
new_df.reset_index()
new_df

  age_group    women_avg      men_avg  all_genders_avg
0     18-23  6089.171429  6104.734940      6051.348718
1     23-28  5990.173410  5707.173077      5891.713262
2     28-33  5887.966292  5663.639098      5792.032154
3     33-38  6206.872340  5455.520325      5909.713826
4     38-43  5829.726708  5896.421053      5862.115016
5     43-48  5792.839623  5617.632911      5718.021622
6     48-53  5678.758621  5411.271930      5527.049751
7     53-58  6071.959184  6031.921053      6054.471264
8     58-63  5803.000000  5621.429825      5705.821596
9     63-68  5666.167883  6122.360465      5842.098655

### Задание 6

Предположим, что стоимость обработки одной операции в торговой точке (с учётом костов на аренду, продавца и так далее) составляет $250$ рублей.

Для каждой торговой точки рассчитай:
 - количество операций;
 - суммарную выручку;
 - чистую валовую прибыль;
 - валовый средний чек (из расчёта на одну операцию);
 - чистый средний чек (то есть валовый средний чек из расчёта на одну операцию за вычетом костов);
 - уникальное количество покупающих клиентов;
 - валовый средний чек из расчёта на одного клиента.

In [105]:
value = 250
grouped_data = df_orders.groupby('id_trading_point').agg(
    count_of_operations=('id_purchase', 'count'),
    total_sum=('sum_pay', 'sum'),
    average_sum=('sum_pay', 'mean'),
    unique_customers=('id_client', 'nunique')
)

grouped_data['gross_profit'] = grouped_data['total_sum'] - value * grouped_data['count_of_operations']
grouped_data['gross_average'] = grouped_data['gross_profit'] / grouped_data['count_of_operations']
grouped_data['gross_unique'] = grouped_data['gross_profit'] / grouped_data['unique_customers']
grouped_data.head()

,count_of_operations,total_sum,average_sum,unique_customers,gross_profit,gross_average,gross_unique
id_trading_point,,,,,,,
-1.0,6,10932.0,1822.000000,1,9432.0,1572.000000,9432.000000
1.0,56,312885.0,5587.232143,55,298885.0,5337.232143,5434.272727
2.0,97,586708.0,5986.816327,93,562458.0,5798.536082,6047.935484
3.0,100,594544.0,5945.440000,99,569544.0,5695.440000,5752.969697
4.0,89,530317.0,5958.617978,85,508067.0,5708.617978,5977.258824